@font-face {
  font-family: "Neucha";
  src: url(assets/ofont.ru_Neucha.ttf);
}

body {
  position: relative;
  width: 1441px;
  height: 7796px;
}
.word-style {
  font-family: "Neucha";
  font-style: normal;
  font-weight: normal;
}

.orange-word {
  color: #fe8a02;
}

.black-word {
  color: #2a2626;
}

.white-word {
  color: #fff;
}

.head-introduction {
  position: absolute;
  width: 1138px;
  left: 165px;
}

header {
  position: absolute;
  width: 1440px;
  height: 914px;
  left: 0px;
  top: 0px;
  background: url(images/background-light.png);
}

#kog-isk {
  height: 177.12px;
  top: 100px;
  font-size: 72px;
  line-height: 86px;
}

#in-prog {
  height: 73.71px;
  top: 284.29px;
  font-size: 72px;
  line-height: 100%;
}

#main-img {
  position: relative;
  width: 1082.81px;
  height: 525px;
  left: 461px;
  top: 55px;
  background: url(images/main.png);
}

.description {
  position: absolute;
  width: 540px;
  text-align: left;
}

.description-style {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

#l-descrip {
  height: 141px;
  left: 165px;
  top: 580px;
}

#r-descrip {
  height: 186px;
  left: 735px;
  top: 580px;
}

.button {
  position: absolute;
  left: 735px;
  top: 765px;
}

.button > button {
  background: #fe8a02;
  width: 148px;
  height: 49px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #fff;
  border: 0;
}

.button-act:hover {
  background: #ea7600;
  outline: none;
}
/* .video-section */
.video-section {
  position: absolute;
  width: 1440px;
  height: 914px;
  left: 0;
  top: 914px;
}

#v-desc {
  position: absolute;
  width: 782.96px;
  height: 73px;
  left: 328.52px;
  top: 100px;

  font-size: 60px;
  line-height: 72px;
  text-align: center;
}

#v-orange-description {
  position: absolute;
  width: 1110px;
  height: 73px;
  left: 165px;
  top: 173px;

  font-size: 60px;
  line-height: 72px;

  text-align: center;
}

#kog-isk-P-ch {
  position: absolute;
  width: 1110px;
  height: 26px;
  left: 165px;
  top: 310px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
}

.image-video {
  position: relative;
  width: 919px;
  height: 569px;
  left: 261px;
  top: 355px;

  background: url(images/video-image.png);
}

.play-video {
  position: absolute;
  margin-left: 50%;
  margin-top: 25%;
}

.polosa {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0;
  top: 858px;
  background: #42413c;
}

nav {
  position: relative;
  width: 1440px;
  height: 891px;
  left: 0;
  top: 1828px;
  align-items: center;

  background: #42413c;
}

nav > ul {
  position: absolute;
  width: 1110px;
  height: 691px;
  top: 100px;
  left: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 2px solid white; */
}

ul > li {
  list-style-type: none;
  width: 350px;
  height: 323px;
}

#first-elem-nav {
  font-size: 52px;
  line-height: 120%;
  color: #fff;
}

b:nth-child(1) {
  font-weight: normal;
  color: #fe8a02;
}

.navigation {
  position: relative;
  background: #f5f4f0;
}

.navigation:hover {
  background: #fe8a02;
}

.navigation:hover .naw-number {
  color: #fff;
}

.navigation:hover .naw-name {
  color: #fff;
}

.navigation:hover .naw-description {
  color: #fff;
}

.naw-number {
  position: absolute;
  width: 23px;
  height: 64px;
  left: 24px;
  top: 24px;

  font-size: 64px;
  line-height: 70px;
}
.naw-name {
  position: absolute;
  width: 302px;
  height: 41px;
  left: 24px;
  top: 128px;

  font-size: 34px;
  line-height: 120%;
}

.naw-name-display {
  display: flex;
  align-items: center;
}

.naw-description {
  position: absolute;
  width: 302px;
  height: 103px;
  left: 24px;
  top: 175px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
}

#four-desc {
  top: 200px;
}

.general-properties {
  position: absolute;
  width: 1440px;
  left: 0;
}

.ikea-effect {
  height: 905px;
  top: 2719px;
  background: url(images/background-light.png);
}

.ikea-image {
  position: absolute;
  width: 578px;
  height: 434px;
  left: 165px;
  top: 100px;
  background: url(images/1.png);
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.kog-name {
  position: absolute;
  width: 502px;
  height: 29px;

  top: 100px;

  font-size: 24px;
  line-height: 29px;
}

.kog-name__position-right {
  left: 773px;
  color: #908d8b;
}

.kog-name__position-left {
  left: 165px;
  color: #d7ccc0;
}

.prob-name {
  position: absolute;
  width: 502px;
  height: 72px;
  top: 129px;

  font-size: 60px;
  line-height: 72px;
}

.prob-name__position-right {
  left: 773px;
}
.prob-name__position-left {
  left: 165px;
  color: #fff;
}

.prob-descr {
  position: absolute;
  width: 502px;
  height: 120px;
  top: 231px;

  font-size: 34px;
  line-height: 41px;
}

.prob-descr__position-right {
  left: 773px;
}

.prob-descr__position-left {
  left: 165px;
  color: #fff;
}

.ober {
  position: absolute;
  width: 1110px;
  height: 26px;
  left: 165px;
  top: 634px;
  padding-left: 10px;
}

.brown-col {
  background: #b09a81;
}

.white-col {
  background: #fff;
}

.desc {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.l-des {
  color: #fff;
}

.b-desc {
  color: #b09a81;
}

.tip-style {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.tip-position {
  position: absolute;
  width: 540px;
  height: 125px;
  top: 680px;
}

.left-tip {
  left: 165px;
}

.right-tip {
  left: 735px;
}

.prem-optimization {
  position: absolute;
  width: 1440px;
  height: 855px;
  left: 0;
  top: 3624px;
  background: #b09a81;
}
.fon-img {
  position: absolute;
  width: 1440px;
  height: 855px;
  left: 0;
  background: url(images/background.png);
  opacity: 0.2;
}

.prob-image {
  position: absolute;
  width: 578px;
  height: 434px;
  top: 100px;

  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.prob-image__r-position {
  left: 697px;
}

.po-img {
  background: url(images/2.png);
}

#p-des {
  height: 123px;
  top: 303px;
}

#p-o__left-p {
  height: 75px;
}

#p-o__right-p {
  height: 75px;
  left: 775px;
}

.isk-new {
  position: absolute;
  width: 1440px;
  height: 880px;
  left: 0px;
  top: 4479px;
  background: #f5f4f0;
}

#isk-img {
  height: 880px;
}

#isk-image {
  background: url(images/3.png);
}

.gip-obes {
  position: absolute;
  width: 1440px;
  height: 937px;
  left: 0;
  top: 5359px;
  background: #b09a81;
}

.gipo-img {
  background: url(images/4.png);
}

#gip-des {
  height: 164px;
  top: 303px;
}

.osh-plan {
  position: absolute;
  width: 1440px;
  height: 919px;
  left: 0;
  top: 6296px;
  background: #f5f4f0;
}

#osh-img {
  background: url(images/5.png);
}

footer {
  position: absolute;
  width: 1440px;
  height: 581px;
  left: 0;
  top: 7215px;
  background: #fff;
}

.footer-info-block {
  position: relative;
  width: 1110px;
  height: 190px;
  left: 165px;
  top: 100px;

  background: #42413c;
}

.footer-info-block__description {
  position: absolute;
  width: 393px;
  height: 80px;
  left: 55px;
  top: 55px;

  font-size: 34px;
  line-height: 120%;
}

.sans-style {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

.footer-info-block__mail-des {
  position: absolute;
  width: 184px;
  height: 28px;
  left: 570px;
  top: 38px;

  font-size: 18px;
  line-height: 160%;
}

.email-field {
  position: absolute;
  width: 500px;
  height: 50px;
  left: 570px;
  top: 75px;
  display: flex;
  flex-wrap: nowrap;
}

.email-field__area {
  width: 423px;
  outline: none;
  padding-left: 15px;
}

.email-field__area::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13.1px;
  color: #757575;
  opacity: 0.2;
}

.email-field__button {
  position: relative;
  width: 70px;
  height: 50px;
  background: #fe8a02;
}

.email-field__button__img {
  position: absolute;
  /* left: 1.5em;
  top: 1em; */
  padding: 1em 1.7em;
  outline: none;
}

.footer-info-block__license {
  position: absolute;
  width: 286px;
  height: 25px;
  left: 570px;
  top: 125px;

  font-size: 12px;
  line-height: 160%;
}

.pr-serv {
  color: #fff;
}

.footer-bottom-descrip {
  position: relative;
  width: 480px;
  height: 98px;
  left: 484px;
  top: 192px;
}

.footer-bottom-descrip__footer-author {
  position: absolute;
  width: 289px;
  height: 22px;
  left: 91px;
  top: -20px;

  font-size: 14px;
  line-height: 160%;
  color: #000;
}

.footer-bottom-descrip__so-author {
  position: absolute;
  width: 471px;
  height: 25px;
  left: 0;
  top: 18px;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 160%;

  /* display: flex;
  align-items: center;
  text-align: center; */
}

.footer-bottom-descrip__link {
  position: absolute;
  top: 75px;
  left: 122px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}

.b-link {
  color: #1085c5;
}
